.bggrid {
	background: url("data:image/svg+xml;charset=utf8,%3Csvg width='32' height='32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath fill='%235c6099' d='M0 0h32v32H0z'/%3E%3Cpath fill='%2343488a' d='M0 0h30v30H0z'/%3E%3C/svg%3E");
	background-color: #43488A;
}