.reloading:before {
	content: "";
	display: inline-block;
	width: 3em;
	height: 3em;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' fill='%2343488a'%3E%3Ccircle r='128' cx='128' cy='128'/%3E%3Cpath d='M128 56l-81 48h22v86h118v-86h22z' fill='%23fff'/%3E%3Ccircle r='23' cx='148' cy='117'/%3E%3Ccircle r='17' cx='101' cy='141'/%3E%3Ccircle r='12' cx='138' cy='166'/%3E%3Cpath d='M148 117l-47 24 37 25z' stroke='%2343488a' stroke-width='4' fill='none'/%3E%3C/svg%3E");
}