/*
 * Provides inline logos and graphics for Hubzilla
 *
 * Logo designs by iko, SVGs by Treer
 *
 * --
 *
 * Usage: <i class="hublogo-6x hublogo-candy"/></i>
 */
.hublogo-2x { font-size: 2em; }
.hublogo-3x { font-size: 3em; }
.hublogo-4x { font-size: 4em; }
.hublogo-5x { font-size: 5em; }
.hublogo-6x { font-size: 6em; }
.hublogo-32 { font-size: 32px; }
.hublogo-64 { font-size: 64px; }

.hublogo-circular:before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' fill='%2343488a'%3E%3Ccircle r='128' cx='128' cy='128'/%3E%3Cpath d='M128 56l-81 48h22v86h118v-86h22z' fill='%23fff'/%3E%3Ccircle r='23' cx='148' cy='117'/%3E%3Ccircle r='17' cx='101' cy='141'/%3E%3Ccircle r='12' cx='138' cy='166'/%3E%3Cpath d='M148 117l-47 24 37 25z' stroke='%2343488a' stroke-width='4' fill='none'/%3E%3C/svg%3E");
}

.hublogo-candy:before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256' fill='%2343488a'%3E%3Cdefs%3E%3ClinearGradient id='a' y1='100%' x2='0' y2='8.5%'%3E%3Cstop offset='0' stop-color='%23363b70'/%3E%3Cstop offset='1' stop-color='%235156a5'/%3E%3C/linearGradient%3E%3ClinearGradient id='b' y1='-.15' x2='0' y2='.9'%3E%3Cstop offset='0' stop-color='%23fff'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/linearGradient%3E%3Cfilter id='c'%3E%3CfeGaussianBlur stdDeviation='.57'/%3E%3C/filter%3E%3CradialGradient id='d' r='.5' cx='.5' cy='.5' fx='.5' fy='.5'%3E%3Cstop offset='0' stop-color='%236d73b8'/%3E%3Cstop offset='1' stop-color='%23fff' stop-opacity='0'/%3E%3C/radialGradient%3E%3Cfilter id='e'%3E%3CfeGaussianBlur stdDeviation='11.52'/%3E%3C/filter%3E%3C/defs%3E%3Ccircle r='128' cx='128' cy='128' fill='url(%23a)'/%3E%3Cellipse cx='128' cy='48' rx='67.6' ry='46' fill='url(%23b)' filter='url(%23c)'/%3E%3Cellipse cx='128' cy='128' rx='78' ry='84' fill='url(%23d)' filter='url(%23e)'/%3E%3Cpath d='M128 56l-81 48h22v86h118v-86h22z' fill='%23fff'/%3E%3Ccircle r='23' cx='148' cy='117'/%3E%3Ccircle r='17' cx='101' cy='141'/%3E%3Ccircle r='12' cx='138' cy='166'/%3E%3Cpath d='M148 117l-47 24 37 25z' stroke='%2343488a' stroke-width='4' fill='none'/%3E%3C/svg%3E");
}

.hublogo-hubs:before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128' fill='%2343488a'%3E%3Ccircle r='29' cx='88' cy='42'/%3E%3Ccircle r='20' cx='30' cy='70'/%3E%3Ccircle r='15' cx='76' cy='100'/%3E%3Cpath d='M88 42L30 70l46 30z' fill='none' stroke='%2343488a' stroke-width='5'/%3E%3C/svg%3E");
}

.hublogo-hubs-circular:before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 160 160' fill='%23fff'%3E%3Ccircle r='80' cx='80' cy='80' fill='%23a00'/%3E%3Ccircle r='29' cx='100' cy='60'/%3E%3Ccircle r='20' cx='42' cy='88'/%3E%3Ccircle r='15' cx='88' cy='118'/%3E%3Cpath d='M100 60L42 88l46 30z' fill='none' stroke='%23fff' stroke-width='5'/%3E%3C/svg%3E ");
}

.hublogo-purple:before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='%23fff'%3E%3Cpath d='M50 4L0 33h14v53h72V33h14z' fill='%2343488a'/%3E%3Ccircle r='14.5' cx='62' cy='42'/%3E%3Ccircle r='10' cx='33' cy='56'/%3E%3Ccircle r='7.5' cx='56' cy='71'/%3E%3Cpath d='M62 42L33 56l23 15z' fill='none' stroke='%23fff' stroke-width='2.5'/%3E%3C/svg%3E");
}

.hublogo-purple-stencil:before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100'%3E%3Cdefs%3E%3Cmask id='a'%3E%3Crect fill='%23fff' width='100%' height='100%'/%3E%3Ccircle r='14.5' cx='62' cy='42'/%3E%3Ccircle r='10' cx='33' cy='56'/%3E%3Ccircle r='7.5' cx='56' cy='71'/%3E%3Cpath d='M62 42L33 56l23 15z' fill='none' stroke='%23000' stroke-width='2.5'/%3E%3C/mask%3E%3C/defs%3E%3Cpath d='M50 4L0 33h14v53h72V33h14z' fill='%2343488a' mask='url(%23a)'/%3E%3C/svg%3E ");
}

.hublogo-white:before {
	content: "";
	display: inline-block;
	width: 1em;
	height: 1em;
	background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 100 100' fill='%2343488a'%3E%3Cpath d='M50 4L0 33h14v53h72V33h14z' fill='%23fff'/%3E%3Ccircle r='14.5' cx='62' cy='42'/%3E%3Ccircle r='10' cx='33' cy='56'/%3E%3Ccircle r='7.5' cx='56' cy='71'/%3E%3Cpath d='M62 42L33 56l23 15z' fill='none' stroke='%2343488a' stroke-width='2.5'/%3E%3C/svg%3E");
}
